In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_electric_vehicle = pd.read_csv('Electric_Vehicle_Population_Data_20240930.csv')
df_low_income = pd.read_csv('LOW_MOD_INCOME_BY_BG_195132293809767522.csv')
df_vehicle_registrations = pd.read_csv('Vehicle_Registrations_by_Class_and_County_20240930.csv')
df_income_by_block_group = pd.read_csv('ACSDT5Y2022.B19001-2024-09-30T153434.csv')

/tmp/ipykernel_852566/1724844871.py:2: DtypeWarning: Columns (10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_low_income = pd.read_csv('LOW_MOD_INCOME_BY_BG_195132293809767522.csv')

In [3]:
df_electric_vehicle.dropna(inplace=True)
df_electric_vehicle.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,JTMAB3FV3P,Kitsap,Seabeck,WA,98380.0,2023,TOYOTA,RAV4 PRIME,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,42.0,0.0,35.0,240684006,POINT (-122.8728334 47.5798304),PUGET SOUND ENERGY INC,5.303509e+10
1,1N4AZ1CP6J,Kitsap,Bremerton,WA,98312.0,2018,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,151.0,0.0,35.0,474183811,POINT (-122.6961203 47.5759584),PUGET SOUND ENERGY INC,5.303508e+10
2,5YJ3E1EA4L,King,Seattle,WA,98101.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,266.0,0.0,43.0,113120017,POINT (-122.3340795 47.6099315),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
3,1N4AZ0CP8E,King,Seattle,WA,98125.0,2014,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,84.0,0.0,46.0,108188713,POINT (-122.304356 47.715668),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
4,1G1FX6S00H,Thurston,Yelm,WA,98597.0,2017,CHEVROLET,BOLT EV,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238.0,0.0,20.0,176448940,POINT (-122.5715761 46.9095798),PUGET SOUND ENERGY INC,5.306701e+10

In [4]:
df_low_income.dropna(inplace=True)
df_low_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220740 entries, 0 to 220739
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   OBJECTID          220740 non-null  int64
 1   GEOID             220740 non-null  int64
 2   Source            220740 non-null  object
 3   geoname           220740 non-null  object
 4   Stusab            220740 non-null  object
 5   Countyname        220740 non-null  object
 6   State             220740 non-null  int64
 7   County            220740 non-null  int64
 8   Tract             220740 non-null  int64
 9   BLKGRP            220740 non-null  int64
 10  Low               220740 non-null  object
 11  Lowmod            220740 non-null  object
 12  Lmmi              220740 non-null  object
 13  Lowmoduniv        220740 non-null  object
 14  Lowmod_pct        220740 non-null  float64
 15  uclowmod          220740 non-null  object
 16  ucLowmod_p        220740 non-null  float64
 17  MOE_LOWMOD_PCT    220740 non-null  object
 18  MOE_UCLOWMOD_PCT  220740 non-null  object
 19  Shape__Area       220740 non-null  float64
 20  Shape__Length     220740 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 35.4+ MB

In [5]:
df_vehicle_registrations.dropna(inplace=True)
df_vehicle_registrations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 722944 entries, 0 to 722943
Data columns (total 7 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Fiscal Year         722944 non-null  int64
 1   Transaction Date    722944 non-null  object
 2   Transaction County  722944 non-null  object
 3   Residential County  722944 non-null  object
 4   Fuel Type           722944 non-null  object
 5   Primary Use Class   722944 non-null  object
 6   Counts              722944 non-null  int64
dtypes: int64(2), object(5)
memory usage: 38.6+ MB

In [6]:
df_income_by_block_group.dropna(inplace=True)
df_income_by_block_group.head(20)

,Label (Grouping),Block Group 1; Census Tract 9501; Adams County; Washington!!Estimate,Block Group 1; Census Tract 9501; Adams County; Washington!!Margin of Error,Block Group 2; Census Tract 9501; Adams County; Washington!!Estimate,Block Group 2; Census Tract 9501; Adams County; Washington!!Margin of Error,Block Group 3; Census Tract 9501; Adams County; Washington!!Estimate,Block Group 3; Census Tract 9501; Adams County; Washington!!Margin of Error,Block Group 1; Census Tract 9502; Adams County; Washington!!Estimate,Block Group 1; Census Tract 9502; Adams County; Washington!!Margin of Error,Block Group 2; Census Tract 9502; Adams County; Washington!!Estimate,...,Block Group 1; Census Tract 9400.06; Yakima County; Washington!!Estimate,Block Group 1; Census Tract 9400.06; Yakima County; Washington!!Margin of Error,Block Group 2; Census Tract 9400.06; Yakima County; Washington!!Estimate,Block Group 2; Census Tract 9400.06; Yakima County; Washington!!Margin of Error,Block Group 1; Census Tract 9400.07; Yakima County; Washington!!Estimate,Block Group 1; Census Tract 9400.07; Yakima County; Washington!!Margin of Error,Block Group 2; Census Tract 9400.07; Yakima County; Washington!!Estimate,Block Group 2; Census Tract 9400.07; Yakima County; Washington!!Margin of Error,Block Group 1; Census Tract 9400.08; Yakima County; Washington!!Estimate,Block Group 1; Census Tract 9400.08; Yakima County; Washington!!Margin of Error
0,Total:,231,±62,563,±100,207,±52,289,±53,170,...,669,±100,560,±75,524,±77,467,±115,531,±85
1,"Less than $10,000",10,±11,23,±20,24,±24,17,±16,6,...,63,±40,25,±23,19,±21,7,±13,24,±19
2,"$10,000 to $14,999",3,±5,15,±11,12,±11,9,±9,4,...,49,±55,8,±13,26,±23,4,±7,12,±19
3,"$15,000 to $19,999",4,±7,34,±29,21,±14,0,±13,4,...,44,±40,4,±7,0,±13,18,±19,15,±18
4,"$20,000 to $24,999",4,±6,27,±20,2,±4,10,±12,0,...,29,±28,25,±23,24,±28,75,±55,33,±26
5,"$25,000 to $29,999",0,±13,24,±19,12,±10,5,±8,0,...,34,±24,16,±18,24,±25,78,±82,59,±31
6,"$30,000 to $34,999",5,±8,31,±28,2,±3,9,±9,1,...,26,±23,5,±8,26,±24,17,±18,36,±26
7,"$35,000 to $39,999",0,±13,3,±6,18,±24,6,±10,8,...,24,±22,22,±21,7,±9,22,±21,51,±31
8,"$40,000 to $44,999",4,±6,17,±12,25,±27,10,±18,6,...,25,±19,27,±23,38,±29,23,±22,16,±19
9,"$45,000 to $49,999",25,±28,17,±18,8,±8,26,±33,12,...,12,±17,45,±54,33,±25,61,±40,22,±21
10,"$50,000 to $59,999",20,±19,41,±20,4,±4,32,±19,12,...,57,±42,42,±26,28,±23,36,±27,4,±9
11,"$60,000 to $74,999",14,±15,75,±31,19,±12,33,±26,45,...,89,±48,73,±42,105,±41,15,±15,35,±28
12,"$75,000 to $99,999",66,±42,86,±38,46,±24,60,±40,40,...,84,±45,69,±35,84,±46,49,±33,84,±40
13,"$100,000 to $124,999",19,±18,28,±19,0,±13,44,±31,17,...,41,±30,111,±71,62,±27,16,±17,82,±75
14,"$125,000 to $149,999",30,±27,57,±33,0,±13,13,±11,0,...,10,±15,31,±23,18,±21,29,±24,32,±23
15,"$150,000 to $199,999",20,±20,66,±48,14,±11,8,±8,2,...,73,±45,39,±30,23,±22,17,±22,6,±9
16,"$200,000 or more",7,±8,19,±17,0,±13,7,±8,13,...,9,±15,18,±20,7,±11,0,±13,20,±20

In [7]:
import pandas as pd
import re

# Assuming your data is in a CSV file named 'census_data.csv'
df_income_by_block_group

def parse_column_name(col_name):
    # Extract information from the column name
    match = re.match(r'Block Group (\d+); Census Tract (\d+); (.+) County; (.+)!!(Estimate)', col_name)
    if match:
        return {
            'Block Group': match.group(1),
            'Census Tract': match.group(2),
            'County': match.group(3),
            'State': match.group(4),
            'Type': match.group(5)
        }
    return None

# Create a list to store the new data
new_data = []

# Iterate through each column
for col in df_income_by_block_group.columns:
    if col != 'Label (Grouping)':  # Skip the income range column
        parsed = parse_column_name(col)
        if parsed:
            # For each row in the original dataframe
            for idx, row in df_income_by_block_group.iterrows():
                new_data.append({
                    'Block Group': parsed['Block Group'],
                    'Census Tract': parsed['Census Tract'],
                    'County': parsed['County'],
                    'State': parsed['State'],
                    'Type': parsed['Type'],
                    'Income Range': row['Label (Grouping)'],
                    'Value': row[col]
                })

# Create a new dataframe from the collected data
new_df = pd.DataFrame(new_data)

# Set the multi-index
new_df.set_index(['Block Group', 'Census Tract', 'County', 'State', 'Type', 'Income Range'], inplace=True)

# Display the first few rows of the new dataframe
print(new_df.head())

# Optionally, save the new dataframe to a CSV file
new_df.to_csv('cleaned_census_data.csv')

                                                                           Value
Block Group Census Tract County State      Type     Income Range
1           9501         Adams  Washington Estimate Total:                   231
                                                        Less than $10,000     10
                                                        $10,000 to $14,999     3
                                                        $15,000 to $19,999     4
                                                        $20,000 to $24,999     4

In [31]:
new_df.head(20)

                                                                             Value
Block Group Census Tract County State      Type     Income Range
1           9501         Adams  Washington Estimate Total:                     231
                                                        Less than $10,000       10
                                                        $10,000 to $14,999       3
                                                        $15,000 to $19,999       4
                                                        $20,000 to $24,999       4
                                                        $25,000 to $29,999       0
                                                        $30,000 to $34,999       5
                                                        $35,000 to $39,999       0
                                                        $40,000 to $44,999       4
                                                        $45,000 to $49,999      25
                                                        $50,000 to $59,999      20
                                                        $60,000 to $74,999      14
                                                        $75,000 to $99,999      66
                                                        $100,000 to $124,999    19
                                                        $125,000 to $149,999    30
                                                        $150,000 to $199,999    20
                                                        $200,000 or more         7
2           9501         Adams  Washington Estimate Total:                     563
                                                        Less than $10,000       23
                                                        $10,000 to $14,999      15

In [28]:
df_income_range = new_df[~new_df.index.get_level_values('Income Range').str.contains('Total:')]

In [32]:
df_income_range.to_csv('cleaned_census_data.csv')

In [80]:
df_income_range.xs(key='King', level='County').head(20)

                                                                      Value  \
Block Group Census Tract State      Type     Income Range
1           3            Washington Estimate     Less than $10,000        0
                                                 $10,000 to $14,999       0
                                                 $15,000 to $19,999       0
                                                 $20,000 to $24,999       0
                                                 $25,000 to $29,999       0
                                                 $30,000 to $34,999       9
                                                 $35,000 to $39,999      10
                                                 $40,000 to $44,999       0
                                                 $45,000 to $49,999      26
                                                 $50,000 to $59,999      10
                                                 $60,000 to $74,999      66
                                                 $75,000 to $99,999      59
                                                 $100,000 to $124,999    62
                                                 $125,000 to $149,999    26
                                                 $150,000 to $199,999    96
                                                 $200,000 or more       152
2           3            Washington Estimate     Less than $10,000        0
                                                 $10,000 to $14,999      23
                                                 $15,000 to $19,999      10
                                                 $20,000 to $24,999       5

                                                                       IncomeUpperRange
Block Group Census Tract State      Type     Income Range
1           3            Washington Estimate     Less than $10,000                10000
                                                 $10,000 to $14,999               14999
                                                 $15,000 to $19,999               19999
                                                 $20,000 to $24,999               24999
                                                 $25,000 to $29,999               29999
                                                 $30,000 to $34,999               34999
                                                 $35,000 to $39,999               39999
                                                 $40,000 to $44,999               44999
                                                 $45,000 to $49,999               49999
                                                 $50,000 to $59,999               59999
                                                 $60,000 to $74,999               74999
                                                 $75,000 to $99,999               99999
                                                 $100,000 to $124,999            124999
                                                 $125,000 to $149,999            149999
                                                 $150,000 to $199,999            199999
                                                 $200,000 or more                250000
2           3            Washington Estimate     Less than $10,000                10000
                                                 $10,000 to $14,999               14999
                                                 $15,000 to $19,999               19999
                                                 $20,000 to $24,999               24999

In [86]:
def income_range_to_top(range_str):
    if 'Less than' in range_str:
        return 10000  # Midpoint of 0-10000
    elif 'or more' in range_str:
        return 250000  # Arbitrary value for $200,000 or more
    else:
        low, high = map(lambda x: x.replace('$', '').replace(',', ''),
                        range_str.split(' to '))
        return int(high)

In [70]:
income_midpoints = df_income_range.index.get_level_values('Income Range').map(income_range_to_midpoint)
income_midpoints

Index([ 10000,  14999,  19999,  24999,  29999,  34999,  39999,  44999,  49999,
        59999,
       ...
        39999,  44999,  49999,  59999,  74999,  99999, 124999, 149999, 199999,
       250000],
      dtype='int64', name='Income Range', length=26080)

In [71]:
df_income_range['IncomeUpperRange'] = income_midpoints

/tmp/ipykernel_852566/2234990297.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_income_range['IncomeUpperRange'] = income_midpoints

In [84]:
df_income_range.groupby('County')['IncomeUpperRange']

County
Adams            176
Asotin           336
Benton           496
Chelan           240
Clallam          752
Clark            608
Columbia          80
Cowlitz          624
Douglas          384
Ferry            128
Franklin          96
Garfield          48
Grant            448
Grays Harbor     688
Island           800
Jefferson         80
King            6384
Kitsap          1536
Kittitas         192
Klickitat         64
Lewis            912
Lincoln          176
Mason            480
Okanogan         464
Pacific          176
Pend Oreille     224
Pierce          1344
San Juan          64
Skagit           784
Skamania         160
Snohomish       1264
Spokane         2896
Stevens          368
Thurston         752
Wahkiakum         80
Walla Walla      320
Whatcom          256
Whitman          384
Yakima           816
Name: IncomeUpperRange, dtype: int64

In [ ]:
df_income_range.xs()

In [79]:
df_income_range.Value.astype(int)
df_income_range.Value.info()

<class 'pandas.core.series.Series'>
MultiIndex: 26080 entries, ('1', '9501', 'Adams', 'Washington', 'Estimate', '\xa0\xa0\xa0\xa0Less than $10,000') to ('2', '34', 'Yakima', 'Washington', 'Estimate', '\xa0\xa0\xa0\xa0$200,000 or more')
Series name: Value
Non-Null Count  Dtype
--------------  -----
26080 non-null  object
dtypes: object(1)
memory usage: 395.7+ KB

In [89]:
def calculate_county_statistics(group):
    # Convert income ranges to numeric values (top of range)
    income_tops = group.index.get_level_values('Income Range').map(income_range_to_top)
    
    # Ensure 'Value' column is numeric
    group['Value'] = pd.to_numeric(group['Value'], errors='coerce')
    
    # Calculate weighted sum and total count
    weighted_sum = (income_tops * group['Value']).sum()
    total_count = group['Value'].sum()
    
    # Calculate mean
    mean_income = weighted_sum / total_count if total_count > 0 else 0
    
    # Calculate median
    cumulative_count = 0
    median_income = 0
    sorted_group = group.sort_index(level='Income Range')
    for income, row in zip(income_tops, sorted_group.itertuples()):
        cumulative_count += row.Value
        if cumulative_count >= total_count / 2:
            median_income = income
            break
    
    return pd.Series({
        'Mean Income': mean_income,
        'Median Income': median_income,
        'Total Households': total_count
    })

# Group by county and calculate statistics
county_stats = df_income_range.groupby(level='County').apply(calculate_county_statistics)

# Display the results
print(county_stats)

                Mean Income  Median Income  Total Households
County
Adams          82708.321178        34999.0            4278.0
Asotin         87845.754816       124999.0            9499.0
Benton         96141.943614        44999.0           15518.0
Chelan        109804.565849        59999.0            6887.0
Clallam        84008.397592       250000.0           23670.0
Clark          98150.712240       250000.0           21372.0
Columbia       88058.956763        44999.0            1804.0
Cowlitz        83973.116591       124999.0           15653.0
Douglas       111084.575618        39999.0           13059.0
Ferry          75273.456860        59999.0            3025.0
Franklin       81073.487761        44999.0            2206.0
Garfield       78403.434093       250000.0            1009.0
Grant          89348.106543        14999.0           13863.0
Grays Harbor   82762.754465        39999.0           18311.0
Island        109501.066508        19999.0           27305.0
Jefferson      92232.780459        19999.0            1699.0
King          143490.601914        99999.0          235479.0
Kitsap        111488.828551        39999.0           53666.0
Kittitas       99260.670399        10000.0            8037.0
Klickitat      79970.370951        34999.0            1914.0
Lewis          88904.731566       149999.0           28711.0
Lincoln        91929.827008        14999.0            4532.0
Mason         100463.253918       199999.0           13272.0
Okanogan       83343.297011        19999.0           11040.0
Pacific        84108.640940        10000.0            4509.0
Pend Oreille   87175.337459        34999.0            5737.0
Pierce        109177.364762       124999.0           47653.0
San Juan      100358.494472       149999.0            1628.0
Skagit        102858.655864        19999.0           24345.0
Skamania      105822.094971        24999.0            4812.0
Snohomish     116624.303922       250000.0           43215.0
Spokane        88810.641937        34999.0           96793.0
Stevens        80829.336778       250000.0           10256.0
Thurston      105309.459410       250000.0           26521.0
Wahkiakum      78955.084954        10000.0            1954.0
Walla Walla    90309.051710        74999.0            9534.0
Whatcom        93715.099739       149999.0            9575.0
Whitman        88360.636759       250000.0           11257.0
Yakima         82969.166090       250000.0           27437.0

In [91]:
county_stats.to_csv('county_stats.csv')